body{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
    margin: 0;
    font-family: 'Noto Serif', serif;
    background: #222;
    background-image: url('https://source.unsplash.com/1600x900/?nature');
    font-size: 120%;
  }

  .container{
    float: left;
    width: 50%;
    background: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
  }

  .table {
    float: right;
    width: 50%;
    background: linear-gradient(to bottom right, #411c0a, #e3d4c4);
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
  }
  
  .tablecontent {
    background-position: 0%;
  }
  th{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
  }



  .Search{
    display: flex;
    align-items:center;
    justify-content: center;
  }

  .submit{
    margin: 0.5em;
    border-radius: 50%;
    border:none;
    height: 44px;
    width: 44px;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }

  .submit:hover{
    background: #ffffff2b;
  }
  input.search{
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: calc(100%-100px)

  }

  
  @media screen and (min-width: 768px) {
    .weather-app {
      margin: 50px;
    }
  }
  